/* Stil für die Webseite */
body {
    font-family: 'Roboto', sans-serif;
  }
  #header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(4,0,59);
  }
  #header img {
    max-width: 100px;
  }
  #header h1 {
    margin: 0;
    color: rgb(255, 153, 13);
    display: flex;
    font-family: "Cinzel";
    
  }

  #logout{
    margin-left: auto;
  }

  #logout a{
    color: rgb(192, 192, 192);
    font-weight: bold;
  }

  #navbar {
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  #navbar a {
    color: rgb(4,0,59);

  }
  #navbar a:hover {
    background-color: rgb(255, 153, 13);;
  }

  
  #body{
    margin-top: 60px;
  }


  .card {
    width: 400px;
    height: 250px; 
  }

  .card-image{
  width: 100px; /* Breite des Bildes */
  height: 100px; /* Höhe des Bildes */
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .card-title{
    text-decoration: underline;
  }

  #footer {
    padding: 10px;
    background-color: rgb(4,0,59);
    color: rgb(255, 153, 13);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    }



.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.form {
    width: 300px;
    padding: 16px;
    background-color: rgb(192, 192, 192);
    border-radius: 8px;
}

.form__title {
    text-align: center;
    margin-bottom: 24px;
}

.form__group {
    margin-bottom: 16px;
}

.form__label {
    display: block;
    margin-bottom: 4px;
}

.form__input {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 4px;
}

.form__button {
    width: 100%;
    padding: 12px;
    background-color:rgb(4,0,59);
    color: rgb(255, 153, 13);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}