<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Budget Master</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Eigene CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-color: #f8f9fa;">
  <!-- Header -->
  <header id="header" class="container-fluid ">
    <div class="row ">
        <div class="col-6"><!-- col-6 = 2 Spalten -->
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/icon.png') }}" alt="Logo" class="mr-2">    
                <h1 class="m-0">BUGET MASTER</h1>                                                           
            </div>
        </div>
        <div class="col-6 text-right">
            <div class="d-flex align-items-center justify-content-end">
                <button id="logout" class="btn ml-2">Logout</button>
            </div>
        </div>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar justify-content-center navbar-expand-md navbar-light">
      <div class="container">         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('home') }}">Home </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('overview') }}">Übersicht </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('income') }}">Einnahmen</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Ausgaben</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('assetManagement') }}">Asset Management</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    <!-- Body -->
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center mt-3 ml-5 mr-5">
                <div class="col-12">
                    <div class="table-title bg-white p-3">
                        <h1>Ausgaben</h1>
                        <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                            <select class="form-control" id="category">
                                <option value="all">Alle Kategorien</option>
                                <option value="lebensmittel">Lebensmittel</option>
                                <option value="miete">Miete</option>
                                <option value="auto">Auto</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="btn-group float-right">
                            <button type="button" class="btn btn-primary" id="add-row">Hinzufügen</button>
                            <button type="button" class="btn btn-danger" id="delete-row">Entfernen</button>
                        </div>
                    </div>
                    </div>
                    </div>
                    <table class="table">
                    <thead>
                        <tr>
                        <th>Datum</th>
                        <th>Kategorie</th>
                        <th>Beschreibung</th>
                        <th>Kosten</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><input type="date" class="form-control" name="date"></td>
                        <td>
                            <select class="form-control" name="category">
                            <option value="lebensmittel">Lebensmittel</option>
                            <option value="miete">Miete</option>
                            <option value="auto">Auto</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" name="description"></td>
                        <td><input type="number" class="form-control" name="cost"></td>
                        </tr>
                    </tbody>
                    </table>
                    <table border>
                        <thead>
                        <tr>
                            <th>Date (From)</th>
                            <th>Date (To)</th>
                            <th>Typ_ID</th>
                            <th>Categorie_ID</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Update_Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for row in output_data %}
                                <tr>
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[5]}}</td>
                                    <td>{{row[6]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    

    

    </footer>
</body>
</html>