<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Budget Master</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Eigene CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-color: #f8f9fa;">
  <!-- Header -->
  <header id="header" class="container-fluid ">
    <div class="row ">
        <div class="col-6"><!-- col-6 = 2 Spalten -->
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/icon.png') }}" alt="Logo" class="mr-2">    
                <h1 class="m-0">BUGET MASTER</h1>                                                           
            </div>
        </div>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar justify-content-center navbar-expand-md navbar-light">
      <div class="container">         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('overview') }}">Übersicht</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('income') }}">Einnahmen</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('cost') }}">Ausgaben</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('assetManagement') }}">Asset Management</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    <!-- Body-->
    <div class="container mt-4 ">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Image 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Budget Master</h5>
                        <p class="card-text">Die Entstehung vom Buget Master</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="image2.jpg" alt="Image 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Übersicht</h5>
                        <p class="card-text">Ihre Finanzen aus einem Blick</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="image3.jpg" alt="Image 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">History</h5>
                        <p class="card-text">Comming soon</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="image4.jpg" alt="Image 4" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Einnahmen</h5>
                        <p class="card-text">Hier gehts zu Ihren Einnahmen</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="image5.jpg " alt="Image 5" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ausgaben</h5>
                        <p class="card-text">Hier gehts zu ihren Ausgaben</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img src="image6.jpg" alt="Image 6" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Asset Managment</h5>
                         <p class="card-text">Ihr Portfolio zum greifen nah</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="container-fluid fixed-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Impressum</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="social-media-icon1.png" alt="Social Media Icon 1"></a></li>
                <li class="list-inline-item"><a href="#"><img src="social-media-icon2.png" alt="Social Media Icon 2"></a></li>
                <li class="list-inline-item"><a href="#"><img src="social-media-icon3.png" alt="Social Media Icon 3"></a></li>
            </ul>
        </div>
    </div>
    </footer>
</body>
</html>