{% include 'header.html' %}
{% include 'navbar.html' %}

    <!-- Body-->
    <div class="container mt-4 p-4">
        <div class="row mb-4">
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow" style="border-radius: 1rem">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/logo.png') }}" alt="Image 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="text-dark">Budget Master</a></h5>
                        <p class="card-text">Die Entstehung vom Budget Master</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/overview.png') }}" alt="Image 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('overview') }}" class="text-dark">Übersicht</a></h5>
                        <p class="card-text">Ihre Finanzen aus einem Blick</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/profile.png') }}" alt="Image 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('profile') }}" class="text-dark">Profil</a></h5>
                        <p class="card-text">Ihre Daten im Überblick</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/income.png') }}" alt="Image 4" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('income') }}" class="text-dark">Einnahmen</a></h5>
                        <p class="card-text">Hier geht's zu Ihren Einnahmen</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/income.png') }}" alt="Image 5" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('cost') }}" class="text-dark">Ausgaben</a></h5>
                        <p class="card-text">Hier geht's zu Ihren Ausgaben</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card shadow">
                    <img style="border-radius: 1rem" src="{{ url_for('static', filename='img/income.png') }}" alt="Image 6" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ url_for('assetManagement') }}" class="text-dark">Asset Management</a></h5>
                        <p class="card-text">Ihr Portfolio zum Greifen nah</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="container-fluid fixed-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Impressum</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram"></a></li>
                <li class="list-inline-item"><a href="#"><img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a></li>
                <li class="list-inline-item"><a href="#"><img src="{{ url_for('static', filename='img/tiktok.png') }}" alt="Tiktok"></a></li>
            </ul>
        </div>
    </div>
    </footer>
</body>
</html>